input, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    margin-top: 10px;
}